.about-us {
  padding-top: 70px;
  padding-bottom: 70px;
  &__title {
    font-size: 36px;
    text-align: center;
    color: #353838;
  }
  &__wrapper {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
  }
  &__text {
    font-size: 1.3rem;
    line-height: 32px;
  }
  &__img {
    object-fit: cover;
    width: 50%;
    border-radius: 10px;
  }
  &__subtitle {
    font-size: 32px;
    padding-bottom: 1rem;
    font-weight: 600;
    color: #353838;
    &--bold {
      text-decoration: underline;
      font-weight: 700;
      color: #4d9d99;
    }
  }
  &__button {
    padding: 1rem;
    border: 2px solid var(--theme-color1);
    border-radius: 5px;
    width: 100%;
    margin-top: 2rem;
    font-weight: 700;
    color: var(--theme-color1);
    transition: all 300ms ease-in-out;
    &:hover {
      color: white;
      background-color: var(--theme-color1);
      transition: all 300ms ease-in-out;
    }
  }
}
